#container1::-webkit-scrollbar {
    width: 5px;
    background-color: grey;
}

#container1::-webkit-scrollbar-track {
    background: #A3A3A3;
    border-radius: 20px;
    cursor: pointer;
}
#container1::-webkit-scrollbar {
    
    height: 5px;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
  }
#container1::-webkit-scrollbar-thumb {
    background: #636B2F;
    border-radius: 10px;
    cursor: pointer;
}



#container1::-webkit-scrollbar-thumb:active {
    background: #636B2F;
    cursor: pointer;
}


#container1::-webkit-scrollbar-thumb:active {
cursor: pointer;
    background: #636B2F; /* Change the color when actively scrolled */
}
